<div class="education">
  <app-header></app-header>
    <div class="education__block">
      <div class="education__data">
        <div class="education__institute education__content">
          <div class="education__image">
              <img src="/assets/img/inst.jpeg" alt="insitite">
          </div>
          <div class="education__text">
            Chernivtsi Institute of Trade and Economics
          </div>
        </div>
        <div class="education__elif education__content">
          <div class="education__image">
              <img src="/assets/img/elif.jpeg" alt="courses">
          </div>
          <div class="education__text">
            ElifTech ITSchool web development course React and Golang
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
