<app-header></app-header>
  <div class="education">
    <h1>Education</h1>
    <div class="education__institute education__block">
      <div class="education__image">
          <img src="/assets/img/inst.jpeg" alt="insitite">
      </div>
      <div>
        Chernivtsi Institute of Trade and Economics
      </div>
    </div>
    <div class="education__couurses education__block">
      <div class="education__image">
          <img src="/assets/img/elif.jpeg" alt="courses">
      </div>
      <div>
        ElifTech ITSchool web development course React and Golang
      </div>
    </div>
  </div>
<app-footer></app-footer>
