.header {
  background-color: #0d47a1;
  width: 100vw;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 5% 0 5%;
    padding: 1% 0 1% 0;
    }
  &__logo {
    display: flex;
    width: 60px;
    height: 60px;
    margin: 1% 0 1% 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
nav {
  font-family: 'Urbanist', sans-serif;
  ul {
    display: flex;
    justify-content: space-between;
    width: 120%;
    font-size: 1.6rem;
    li {
      a {
        color: white;
      }
    }
    li:hover {
        opacity: 0.5;
        transition: 0.4 ease-in-out;
    }
  }
}

@media (max-width: 768px) {
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 5;
      span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
      }
    }
    .header__burger:before,
    .header__burger:after {
      content: '';
      background-color: #fff;
      width: 100%;
      position: absolute;
      height: 2px;
      left: 0;
      transition: all 0.3s ease-in-out 0s;
    }
    .header__burger:before {
      top: 0;
    }

    .header__burger:after {
      bottom: 0;
    }

    .header__burger.active:after {
      transform:rotate(-45deg);
      transition: all 0.3s ease-in-out 0s;
      bottom: 9px;
    }

    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
    }

    .header__burger.active span {
      transform: scale(0);
      transition: all 0.3s ease-in-out 0s;
    }

    .nav-header {
      position: fixed;
      top: 100%;
      left: 0;
      width: 100%;
      overflow: auto;
      height: 100%;
      background-color: #0d47a1;
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease;
      z-index: 3;
    }
    .header__menu.active {
      top: 0;
    }

    nav {
      width: 50%;
      ul {
          flex-direction: column;
          transform: translate(22%, 100%);
          li {
              margin-top: 2%;
              margin-bottom: 2%;
            a {
              font-size: 3rem;
            }
          }
      }
    }
}

@media (max-width: 568px) {
  nav {
    width: 50%;
    ul {
        li {
          a {
            font-size: 2rem;
          }
        }
    }
  }
}

.active {
  top: 0;
}
