<app-header></app-header>

<div class="about-me">
  <div class="about-me__body">

      <div class="about-me__info">
          <div class="about-me__first-last-name">
              <div class="about-me__first-name info-me">
                <div class="field-key">First Name</div>
                <div class="field-value first-name">Zdrilyi </div>
              </div>
              <div class="about-me__last-name info-me">
                <div class="field-key ">Last Name</div>
                <div class="field-value last-name"> Liubomyr</div>
              </div>
          </div>
          <div class="about-me__email info-me">
            <div class="field-key">Email</div>
            <div class="field-value email">zdrilyiliubomyr@gmail.com</div>
          </div>
          <div class="about-me__github info-me">
            <div class="field-key">GitHub</div>
            <div class="field-value github">github.com/liubomyrzdrl</div>
          </div>
          <div class="about-me__skils info-me">
            <div class="field-key">Skils</div>
            <div class="field-value skils">HTML, CSS, JS</div>
          </div>
          <div class="about-me__language info-me">
            <div class="field-key">Language</div>
            <div class="field-value language">English -  Intermediate</div>
          </div>
      </div>

      <div class="about-me__skils">

      </div>
  </div>

</div>
<app-footer></app-footer>
