<div class="about-me">
  <app-header></app-header>
  <div class="about-me__body">
    <div class="about-me__section picture-me">
      <div class="about-me__image">
        <img src="/assets/img/I.jpeg" alt="">
      </div>
    </div>

    <div class="about-me__section info-me">
        <div class="info-me__body">
            <div class="info-me__info-name-proff">
                <div class="info-me__greeting">
                  <div> Hi, I'm</div>
                  <div class="first-last-name"> Zdrilyi Liubomyr</div>
                </div>
                <div class="info-me__proff">
                  Software engineer developer
                </div>
                <hr  width="450" size="4" color="#28c95e" />
            </div>

            <div class="info-me__contacts">

              <div class="info-me__location info-field">
                <div class="info-me__location-icon  info-me_icon">
                    <img src="/assets/img/location.png" alt="location icon">
                </div>
                <div class="info-me__location-title">
                  Ivano Frankivsk region
                </div>
              </div>

              <div class="info-me__email info-field">
                <div class="info-me__email-icon info-me_icon">
                    <img src="/assets/img/el.png" alt="github icon">
                </div>
                <div class="info-me__email-title">
                    zdrilyiliubomyr@gmail.com
                </div>
              </div>

                <div class="info-me__github info-field">
                  <div class="info-me__github-icon  info-me_icon">
                      <img src="/assets/img/github.png" alt="github icon">
                  </div>
                  <div class="info-me__github-title">
                      <a href="github.com/liubomyrzdrl">github.com/liubomyrzdrl</a>
                  </div>
                </div>

            </div>

        </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
