<app-header></app-header>
<div class="location">
  <div class="location__body">

    <div class="location__about-city article-location">
      <div class="title-article">About my city </div>
      <div class="content-location">
        <div class="location__image">
          <img src="/assets/img/Kost.jpeg" alt="location">
        </div>
        <p class="location__info-text">
          <span>Городе́нка</span> — місто на історичному Покутті, центр Городенківської міської громади, до 2020 року
          центр
          колишнього Городенківського району Івано-Франківської області, місце перебування будівлі Городенківської
          районної
          ради.
        </p>
      </div>
    </div>


    <div class="location__history article-location">
      <div class="title-article">Історія </div>
      <div class="content-location">
        <div class="location__image">
          <img src="/assets/img/gorod.jpeg" alt="location">
        </div>
        <p class="location__info-text">
          Вважається, що назва міста походить від слова «город» — укріплення з частоколу та зрубів. Повість временних
          літ
          подає, що у 993 році Великий князь Київський Володимир Святославич пішов походом на білих хорватів, що
          населяли
          сучасну територію Галичини. Саме тоді сучасна Городенківщина увійшла до складу Київської Русі. На карті
          Птолемея
          приблизно на місті Городенки позначене місто Carrodunum. Подібність назв дає підстави припускати давність
          існування Городенки. Щоправда, Птолемей розмістив Carrodunum на лівому березі Дністра, але науковці знають, що
          він завжди помилявся у визначенні широти міст, розміщаючи їх дещо північніше істинного місця.
        </p>
      </div>
    </div>

    <div class="location__history article-location">
      <div class="title-article">Економіка </div>
      <div class="content-location">
        <div class="location__image">
          <img src="/assets/img/ele.jpeg" alt="location">
        </div>
        <p class="location__info-text">
          У місті працює ряд промислових підприємств —  ПАТ «Городенківський
          сирзавод», птахофабрика «Авангард», філія «Перспектив» ПАТ «Зернопродукт» МХП, Цегельний завод, діє три
          елеватори (концерн «Мрія», ППА «Вільхівці», «Зернопродукт МХП»), ТОВ «Ласощі». Працюють підрозділи
          «Укртелеком», дві залізничні станції, мережа торгових підприємств, ковальські майстерні, ПАТ «Будівельник»,
          виробництво будівельного каменю, вапна, асфальту та інше.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
